<app-square>
  <ng-container app-square-cover>
    <app-overlay [tmpl]="hoverTmpl">
      <img [src]="img" alt="album-cover-image" />
    </app-overlay>
  </ng-container>
  <ng-container app-square-detail>
    <div class="primary-label">
      <span>{{name}}</span>
    </div>
    <div class="secondary-label">
      <span>Album • {{artist}} </span>
    </div>
  </ng-container>
</app-square>

<ng-template #hoverTmpl>
  <fa-icon class="clickable" [icon]="playSongIcon" size="lg" (click)="play()"></fa-icon>
</ng-template>
