@import '../variables/_colors';

$button-text-color: $color-text-primary;
$button-primary-color: #065fd4;

.btn {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: $button-text-color;
  height: 36px;
  border-radius: 2px;
  width: 88px;
  border: none;

  &:focus {
    border: none;
    outline: none;
  }
}
.btn-transparent {
  background-color: transparent;
}
.btn-diabled {
  cursor: default;
  opacity: 0.3;
}

.btn-primary {
  background-color: $button-primary-color;
}

.icon-btn {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  color: #32323d;
  overflow: hidden;
  width: 36px;
  padding: 0.5em;
  transition-duration: 0.15s;
  transition-property: background-color;
}
