<app-round>
  <ng-container app-round-cover>
    <app-overlay [tmpl]="hoverTmpl">
      <img [src]="img" alt="artist-image" />
    </app-overlay>

  </ng-container>
  <ng-container app-round-detail>
    <div class="primary-label">
      <span>{{name}}</span>
    </div>
    <div class="secondary-label">
      <span>{{followers | readableNumber}} followers</span>
    </div>
  </ng-container>
</app-round>

<ng-template #hoverTmpl>
  <fa-icon class="clickable" [icon]="playSongIcon" size="lg" (click)="play()"></fa-icon>
</ng-template>
