<div class="top-image">
  <img src="assets/header_bg.jpg" />
  <div class="overlay"></div>
</div>
<div class="content">
  <app-album [artist]="'an album'" [img]="'/assets/playlist/1.jpg'" [name]="'album name'"></app-album>
  <app-playlist [name]="'my playlist'" [img]="'/assets/playlist/1.jpg'" [totalTracks]="25"></app-playlist>
  <app-artist [name]="'an artist'" [img]="'/assets/artists/1.jpg'" [followers]="24500"></app-artist>
  <app-song [name]="'an song title'" [img]="'/assets/songs/12.jpg'" [artist]="'an artist'"></app-song>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis lobortis lacus eget aliquam. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam lacinia erat convallis,
    fringilla ipsum eget, eleifend arcu. In hac habitasse platea dictumst. Pellentesque varius vehicula feugiat.
    Integer ut lorem et nisl pretium dignissim sit amet a mi. Aenean non arcu viverra, ultricies ipsum et, pharetra
    lacus.
  </p>
  <p>
    Mauris faucibus mauris nec rutrum ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia Curae; Nullam in lacus nec nibh mollis iaculis vitae eget nibh. Phasellus gravida ligula non
    condimentum dictum. Proin vulputate dolor at congue tristique. Curabitur tincidunt turpis eget posuere efficitur.
    Nunc vestibulum laoreet turpis vel imperdiet. Praesent venenatis euismod sodales. Nam sit amet posuere risus.
    Curabitur vehicula interdum suscipit. Fusce placerat orci a sapien condimentum hendrerit. Mauris hendrerit nulla
    magna, mattis fermentum ante maximus a.
  </p>
  <p>
    Nunc pretium augue rhoncus suscipit mattis. Nullam ut lectus quis dolor tempus convallis at a felis. Vestibulum
    sed hendrerit augue, a facilisis augue. Suspendisse facilisis condimentum nulla, in pulvinar diam efficitur in.
    Quisque euismod sodales lacus sit amet aliquet. Quisque imperdiet rhoncus porta. Fusce pretium mollis mi semper
    pharetra. Phasellus finibus ipsum eget pretium vehicula.
  </p>
  <p>
    In sit amet mi vitae quam fermentum sodales convallis pulvinar massa. Nam eget turpis at neque ornare efficitur a
    sodales urna. Aliquam dignissim fringilla tellus. Sed feugiat placerat tortor in malesuada. Suspendisse interdum
    dictum rhoncus. Phasellus faucibus efficitur nibh, ac varius est mollis eu. Cras quis ex vel odio molestie
    sollicitudin sit amet nec ex.
  </p>
  <p>
    Praesent est felis, dapibus malesuada purus viverra, convallis cursus mi. Fusce quis luctus turpis, at rutrum
    tortor. Donec scelerisque malesuada tellus, non maximus ligula maximus mollis. Morbi felis neque, maximus vel
    placerat a, convallis varius felis. Nunc pulvinar ipsum ac rutrum tristique. Integer commodo volutpat finibus.
    Quisque lacinia enim lectus, varius semper augue sodales a. Aenean ut eros sollicitudin, mollis purus et, pulvinar
    purus. Suspendisse justo ante, fringilla fringilla nisl eget, pellentesque suscipit velit. Aenean facilisis, ex
    sed ullamcorper ultrices, erat dolor cursus velit, eget venenatis purus enim in orci. Sed vitae dapibus leo.
    Maecenas sit amet egestas dui. Duis at sagittis justo, eu finibus elit. Donec sagittis suscipit vulputate. Sed
    elementum hendrerit nulla.
  </p>
  <p>
    Pellentesque venenatis sit amet leo quis rhoncus. Curabitur vitae pharetra enim. In hac habitasse platea dictumst.
    Aenean eros odio, efficitur nec volutpat vitae, dapibus at urna. Sed dapibus orci nisl, a convallis tellus rutrum
    eget. Sed lobortis accumsan elit sed iaculis. Pellentesque in lorem rutrum, interdum magna sed, dapibus nibh.
    Nullam ullamcorper nisl vel aliquet condimentum. Nam nulla arcu, finibus ac metus non, accumsan fringilla risus.
    Vivamus dapibus justo at mauris consequat euismod. Quisque ultricies metus vel elit fringilla mollis. Maecenas a
    nibh diam. Mauris lorem sem, pulvinar et vehicula vel, bibendum vitae tellus. Sed aliquet tempor nisi eu rhoncus.
    Suspendisse potenti. Donec mi risus, rhoncus vitae ex vel, porttitor ultrices est.
  </p>
  <p>
    Donec quis ipsum erat. Pellentesque eget diam consequat, commodo ex nec, maximus lacus. Mauris facilisis porttitor
    interdum. Nulla facilisi. Morbi a sapien et massa porta auctor. Donec at porttitor lectus, tempor hendrerit odio.
    Suspendisse augue lacus, posuere id felis a, facilisis suscipit ex. Nullam consequat suscipit quam sed dignissim.
    Nam malesuada, arcu eget pellentesque bibendum, erat massa bibendum turpis, eget pharetra tortor enim at nibh.
    Praesent feugiat aliquam eros, ac hendrerit metus varius id. Vestibulum nec finibus neque. Mauris aliquet eros nec
    bibendum eleifend. Nam lacinia porta est ac mattis.
  </p>
  <p>
    Pellentesque eu eros libero. Maecenas semper pretium ligula nec tincidunt. Ut posuere euismod ligula, in auctor
    metus. Morbi sagittis scelerisque dui. Nam ex nulla, blandit at purus sit amet, egestas varius metus. Quisque a
    orci a leo tincidunt facilisis ac non tortor. Quisque sit amet nisl in orci convallis ornare. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </p>
  <p>
    Ut ultricies nunc lacus, id lobortis orci porta malesuada. Sed feugiat ultrices porttitor. Curabitur vitae
    vestibulum nibh, tempor eleifend eros. In urna ante, posuere ac risus ut, eleifend rutrum lorem. Sed ullamcorper
    risus ac risus placerat rutrum. Cras sit amet tempor massa, nec lacinia lorem. Sed vel gravida mauris.
  </p>
  <p>
    Duis diam odio, vulputate at lorem nec, porttitor placerat tellus. Etiam eget ligula nulla. Maecenas pulvinar
    imperdiet tortor, eu tempor ante. Aliquam facilisis magna libero, at blandit neque venenatis ac. Suspendisse porta
    rhoncus lectus a pharetra. Integer scelerisque luctus diam. In hac habitasse platea dictumst. Maecenas ut augue
    sed ligula euismod aliquet. Donec sit amet convallis ante. Nullam facilisis at libero at congue. Proin varius
    velit nec diam dictum fermentum. Proin vel tortor sit amet leo vulputate consectetur ac non sapien.
  </p>
</div>
