<ng-container *ngFor="let chart of charts$ | async">
  <app-album *ngIf="chart.type === 'album'"
             [artist]="chart.artist"
             [img]="chart.img"
             [name]="chart.name"></app-album>
  <app-playlist *ngIf="chart.type === 'playlist'"
                [img]="chart.img"
                [name]="chart.name"
                [totalTracks]="chart.totalTracks"></app-playlist>
  <app-artist *ngIf="chart.type === 'artist'"
              [img]="chart.img"
              [name]="chart.name"
              [followers]="chart.followers"></app-artist>
  <app-song *ngIf="chart.type === 'song'"
            [img]="chart.img"
            [name]="chart.name"
            [artist]="chart.artist"></app-song>

</ng-container>
